= form_for @applicant do |f|
  - if @applicant.errors.any?
    #error_explanation
      %h2= "#{pluralize(@applicant.errors.count, "error")} prohibited this applicant from being saved:"
      %ul
        - @applicant.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :firstname
    %br
    = f.text_field :firstname, required: true
  .field
    = f.label :lastname
    %br
    = f.text_field :lastname, required: true
  .field
    = f.label :telephone
    %br
    = f.text_field :telephone, required: true
  .field
    = f.label :email
    %br
    = f.text_field :email
  .field
    = f.label :address
    %br
    = f.text_field :address
  .field
    = f.label :landlord
    %br
    = f.text_field :landlord
  .field
    = f.label :landlordnum
    %br
    = f.text_field :landlordnum
  .field
    = f.label :employer
    %br
    = f.text_field :employer
  .field
    -# = f.input :employername, :class => "form-control", :label => "Employer Name"
    = f.label :employername, "Employer Name"
    %br
    = f.text_field :employername
  .field
    = f.label :employernum, "Employer Number"
    %br
    = f.text_field :employernum
  .field
    = f.label :income, "Gross Monthly Income"
    %br
    = f.text_field :income
  .actions
    = f.submit 'Submit', :class => "btn btn-primary"
