= simple_form_for(@property) do |f|
  = f.error_notification

  .form-inputs
    = f.input :address
    = f.input :description
    = f.label "Active"
    = f.check_box :active

  = f.fields_for :post_attachments do |p|
    .field.text-left
      = p.label :avatar
      %br/
      = p.file_field :avatar, :multiple => true, name: "property_attachments[avatar][]"


  .form-actions
    = f.button :submit
