.background-image-wrapper
  .welcome-block
    .container
      %h1 Listing properties
      -# %p
      -#   = form_tag properties_path, :method => 'get' do
      -#     = text_field_tag 'search', nil, placeholder: 'Address'
      -#     = submit_tag "Search"
      .container{:style => "overflow:auto; background:#ffffff"}
        %table.table-responsive.table-striped
          %thead
            %tr
              %th{:style => "padding-right:10px;"} Address
              %th{:style => "padding-right:10px;"} Description
              %th{:style => "padding-right:10px;"} Active
              %th{:style => "padding-right:10px;"}
              %th{:style => "padding-right:10px;"}
              %th{:style => "padding-right:10px;"}

          %tbody
            - @properties.each do |prop|
              %tr
                %td= prop.address
                %td= prop.description
                %td= prop.active
                %td= link_to 'Show', prop, :class => "btn btn-primary", :style => "color:#ffffff"
                %td= link_to 'Edit', edit_property_path(prop), :class => "btn btn-warning", :style => "color:#ffffff"
                %td= link_to 'Destroy', prop, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger", :style => "color:#ffffff"

      %br
      -# = will_paginate @applicants, renderer: BootstrapPagination::Rails
      = link_to 'New Property', new_property_path, :class => "btn btn-primary", :style => "color:#ffffff"
