%p#notice= notice

%p
  %b Address:
  = @property.address
%p
  %b Description:
  = @property.description

- @property_attachments.each do |p|
  = image_tag p.avatar_url
  = link_to "Edit Attachment", edit_property_attachment_path(p)

= link_to 'Edit', edit_property_path(@property)
\|
= link_to 'Back', properties_path
