= image_tag @property_attachment.avatar, :class => "img-responsive", :style => "max-width:300px; height:auto"
= simple_form_for(@property_attachment) do |f|
  = f.error_notification

  .form-inputs
    = f.input :property_id

  .form-actions
    = f.button :submit
